<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class=" flex items-center bg-gradient-to-tr from-stone-900 via-indigo-900 to-fuchsia-600 justify-center h-screen">
    <div class="w-[400px]  relative z-10 px-10 md:px-0 ">
        <center>
        <h1 class="  text-5xl font-semibold text-white">Sign Up</h1>
    </center>
        <form action="/signup" method="POST" class="bg-white bg-opacity-20 md:rounded-2xl rounded-xl  mt-6 md:mt-12 shadow-md z-30 relative rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-white text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input class="shadow  appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="username">
            </div>
            <div class="mb-6">
                <label class="block text-white text-sm font-bold mb-2" for="email">
                    Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="Email" name="email">
            </div>

            <div class="mb-4">

                <label class="block text-white text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" name="password">
                <!-- 2 -->
                
            </div>
            <div class="">
                <button class="bg-black mt-4 hover:bg-white hover:text-black text-white font-bold w-[260px] md:w-[335px] py-3 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Sign up
                </button>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2024 Your Company. All rights reserved.
        </p>
    </div>
</body>
</html>