<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTICS</title>
   
    <link rel="icon" type="image/x-icon" href="../images/NEWARTA.jpg">
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
<div>
    

</div>


</body>
</html>