<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >

        <div class="navbar  w-full h-[70px]   px-2 items-center flex justify-between md:bg-gradient-to-r from-gray-900 via-black to-blue-500 bg-gradient-to-r from-gray-900 via-black to-blue-500   md:w-full md:h-[150px]   md:items-center md:flex md:justify-between md:relative  ">
    
            <div id="conta" class="logo flex   gap-2 items-center md:flex   md:gap-4 md:items-center ">
                <img class="rounded-full w-[25px] object-cover object-center h-[25px] md:rounded-full md:w-[50px] md:object-cover md:object-center md:h-[50px]" src="https://logopond.com/avatar/290451/NEWARTA.jpg" alt="" srcset="">
                <h1 class="text-lg  font-thin text-white md:text-2xl  md:font-thin md:text-white">Artics</h1>
            </div>
            <div id="contnavl" class="flex gap-2 md:flex md:gap-6">
                <a  class="  text-xs font-thin text-white md:text-base md:font-thin md:text-white" href="/home">Home</a>
               
                <a class="  text-xs font-thin text-white md:text-base md:font-thin md:text-white" href="/service">Service</a>
                <a class="  text-xs font-thin text-white md:text-base md:font-thin md:text-white" href="/aboutus">About Us</a>
            </div>
            <div class=" flex gap-2 items-center md:flex md:gap-3 md:items-center">
                <div id="sign" class=" px-2 bg-white py-1 rounded-md md:block md:px-4 md:bg-white md:py-2 md:rounded-lg  ">
                    <a href="tel:91+8303628539">
        
                        
                      <h1 class="text-[8px] font-thin uppercase text-black md:text-base md:font-thin md:uppercase md:text-black" id="log">
                       <b>Contact</b> 
                      </h1>
                        
                  
                    
                  
                </a>
                </div>
                <div class="border-[1px]  border-tb-[1px] py-2 md:border-[1px]  md:border-tb-[1px] md:py-4"></div>
                
               
             
        
        
        <!-- email -->
         
              
         
        
                </div>
               
               
            </div>
        </div>


    
<div class=" md:mt-0 md:w-full md:h-auto  md:text-gray-800  md:bg-gradient-to-r from-gray-900 via-black to-blue-500b bg-gradient-to-r from-gray-900 via-black to-blue-500   md:px-10 mt-0 w-full h-auto  text-gray-800     px-4">
    ">
    <center>
        <h1 class="text-white capitalize font-semibold text-3xl md:text-5xl">
            update your article
        </h1>
    </center>

    <% if (clients && Array.isArray(clients)) { %>
        <% clients.forEach(function(clie){ %>
       
        <div class=" py-10 md:py-10 bg-white bg-opacity-20 mt-8 md:mt-16 md:bg-gradient-to-tr from-stone-900 via-indigo-900 to-fuchsia-600 rounded-3xl md:rounded-t-3xl ">

            
             <center>
        <form class=" flex flex-col gap-8 items-center md:flex md:flex-col md:gap-8 md:items-center " action="/update/<%=clie.id%>" method="post">
            <h1 class="text-white capitalize font-semibold">
                URL
            </h1>
        <input class="w-[220px] outline-none h-[15px] py-6 px-4 rounded-lg  md:w-[400px] md:outline-none md:h-[30px] md:py-8 md:px-4 md:rounded-lg" type="url" placeholder="Enter your image url" value="<%=clie.url%>" name="url" id="">
        <h1 class="text-white capitalize font-semibold">
            Topic
        </h1> 

        <input class="w-[220px] outline-none h-[15px] py-6 px-4 rounded-lg  md:w-[400px] md:outline-none md:h-[30px] md:py-8 md:px-4 md:rounded-lg" type="text" placeholder="Enter Your Topic" name="bio" value="<%=clie.bio%>" id="">
        <h1 class="text-white capitalize font-semibold">
            about topic
        </h1>

        <input class="w-[250px] outline-none h-[30px] py-12 px-4 rounded-lg  md:w-[800px] md:outline-none md:h-[200px] md:text-sm  md:py-8 md:px-4 md:rounded-lg" placeholder="Enter about your topic"  value="<%=clie.detail%>" name="detail"  id="">
        
        <input  class="px-2  hover:bg-black  shadow hover:shadow-xs  hover:shadow-slate-200 hover:text-white py-4 bg-white w-[220px] outline-none rounded-lg px-2  md:hover:bg-black  md:shadow md:hover:shadow-xs  md:hover:shadow-slate-200 md:hover:text-white md:py-4 md:bg-white md:w-[400px] md:outline-none md:rounded-lg" type="submit" placeholder="Submit" value="Submit">
        </form>
    </center>
        
        </div>
       
        <% }) %> 

        <% } else { %>
    <p>error</p>
<% } %>

    </div>
     



    <script src="../js/edit.js"></script>
</body>
</html>